
html{
	margin: 0;
	padding: 0;
	background-color: #ccc;
	font-family: monospace;
}

ol {
	text-align: left;
}

.container {
	text-align: center;
	margin-left: 40px;
	margin-top: 40px;
}

.header {
	width: 600px;
}

.header img {
	max-width: 220px;
	border-radius: 5px;
	border: 3px #666 solid;
}